.form-container {
  margin: auto;
  width: 100%;
  border: 3px solid pink;
  padding: 20px;
  background-image: linear-gradient(pink, purple);
     
}
.form{
    text-align: center;
    
    
  }
  .form-group{
    width: 100%;
    padding: 1%;
  }

  .text{
    text-align: center;
  }
  .success-message{
    background-image: linear-gradient( aqua, purple);
    color: white;
    width: 50%;
    text-align: center;
   
    margin: auto;
  }

  .div-message{
    color: red;
    font-size: small;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    }
    label {
      display: inline-block;
      width: 200px;
      text-align: center;
    }

    input {
      display:inline-flexbox;
      
    };

    